<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This application needs access to your location information</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CFBundleVersion</key>
	<string></string>
</dict>
</plist>
